.app-container {
  padding: 10px;
  margin: 10px;
}
.main-container {
  border: 5px solid green;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.list-container {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.img-wrapper {
  display: inline-block;
}
.details-wrapper {
  display: inline-block;
  margin: 0 0 0 15px;
}
.header-text {
  display: block;
  font-size: 16px;
  font-weight: bold;
}
.detail-text {
  display: block;
  font-size: 13px;
  margin: 10px 0 0 0;
}
.bbb {
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}
